/* LOGIN */
#loginForm input{
    width: 100%;
}

#submitLogin {
    display: block;
    margin: auto;
    width: 66% !important;
}

#branding img {
    width: 75%;
}

#forgotPassword {
    display: block;
    margin: auto;
    width: 66% !important;
}

#sendEmail {
    display: block;
    margin: auto;
    width: 66% !important;
}